* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ace_highlight-marker {
  position: absolute;
  background: rgba(255, 0, 0, 0.3);
  z-index: 1000;
}

.preloader {
  display: flex;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #282a36;
  color: white;
  z-index: 1000;
}

.preloader>div {
  margin: auto;
}

.loader {
  margin: 20px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #7543fe;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shader-loading::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(79, 79, 105, 0.74);
}

.loader-shader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 10;
}

.hide {
  display: none;
}

.error {
  display: none;
  position: absolute;
  padding: 10px;
  width: 50%;
  left: 0;
  top: 30px;
  color: white;
  overflow: auto;
  font-size: 14px;
  background-color: #4f4f69;
  font-family: 'consolas';
}

.show {
  display: block;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  position: relative;
}

.right {
  margin-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  height: 50%;
}


#fps-counter {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  color :#b59aff;
  font-size: 12px;
}
canvas {
  outline: 1px solid black;
}

#run-shader {
  cursor: pointer;
  position: absolute;
  left: 93%;
  top: 90%;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid white;
  outline: none;
  border-radius: 50%;
  font-size: 12px;
  transition: 0.2s;
  opacity: 0.5;
  color: #7543fe;
  transform: scale(1);
  z-index: 1000;
}

.fa-play {
  margin-left: 5px;
}

#run-shader:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s;
}

#run-shader:hover .button-ui {
  opacity: 1;
  height: 100px;
  transition: 0.3s;
}

.button-ui {
  opacity: 0;
  width: 40px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.3s;
  padding-top: 10px;
}

#vertex-shader-code {
  border-bottom: 5px solid white;
}

/* SETTINGs */

.ui-settings {
  width: 200px;
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: 0px 0px 10px 0px;
  opacity: 0.2;
  transition: 0.2s;
  font-size: 0.7rem;
}

.ui-settings:hover {
  opacity: 1.0;
  transition: 0.2s;
}

/* -----RANGE SLIDER */

.range-slider {
  margin: 0;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b59aff;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #7543fe;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #7543fe;
}

.range-slider__range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #7543fe;
}

.range-slider__range:active::-moz-range-thumb {
  background: #7543fe;
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #7543fe;
}

::-moz-range-track {
  background: #fff;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

/* ------ FILE  */

.file-input {
  width: 100%;
  color: transparent;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input.model-load::before {
  content: 'Load OBJ Model';
}

.file-input::before {
  content: 'Load Texture';
  color: #656565;
  width: 100%;
  display: inline-block;
  background: white;
  font-size: 0.8em;
  border: 1px solid #383A3F;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
}

.file-input:hover::before {
  border-color: #7543fe;
}

.file-input:active {
  outline: 0;
}

.file-input:active::before {
  background: white;
}

/* SELECT BOX */

.select-box {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* CHECKBOX */

label {
  text-align: center;
  flex: 1;
  cursor: pointer;
  color: #383A3F;
  display: block;
  margin-left: 2px;
  font-size: 1.2em;
}

input[type="checkbox"]+.label-text:hover:before {
  color: #7543fe;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+.label-text:before {
  content: "";
  color: #dddfe6;
  font-family: "fontAwesome";
  line-height: 1;
  width: 1em;
  display: inline-block;
  margin-right: 4px;
}

input[type="checkbox"]:checked+.label-text:before {
  content: "";
  color: #7543fe;
  animation: tick 150ms ease-in;
}

input[type="checkbox"]:disabled+.label-text:before {
  content: "";
  color: #dddfe6;
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* UI MENU */

.ui-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 10px;
  color: white;
  width: 100%;
  height: 30px;
  background-color: #282a36;
  /* display: flex; */
}


input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #b59aff;
  border-radius: 3px;
  outline: none;
}

.ui-menu__dropdown--button {
  margin-top: 5px;
  color: #656565;
  width: 100%;
  background: white;
  font-size: 0.8em;
  border: 1px solid #383A3F;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.ui-menu__dropdown--button:hover {
  border-color: #7543fe;
}

#compile-time {
  top: 6px;
  position: absolute;
  right: 10px;
  color: #b59aff;
  font-size: 12px;
}

.show {
  display: block !important;
}

.ui-menu__item {
  float: left;
  margin-left: 5px;
  position: relative;
  /* flex: 1; */
  color: white;
  width: fit-content;
  height: 100%;
}

.ui-menu__dropdown {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 150px;
  padding: 10px 10px 5px;
  border-radius: 0 0 5px 5px;
  background-color: #4f4f69;
  display: none;
}

.ui-menu__dropdown .range-slider {
  font-size: 0.8em;
  color: white;
}

.ui-menu__dropdown .range-slider._file {
  height: 30px;
}

.ui-menu__dropdown input[type="checkbox"]+.label-text:hover:before {
  color: white;
}

.ui-menu__dropdown input[type="checkbox"]:checked+.label-text:before {
  content: "";
  color: white;
  animation: tick 150ms ease-in;
}

.ui-menu__button {
  /* color: #2c3e50; */
  min-width: 30px;
  width: auto;
  height: 100%;
  background-color: #4f4f69;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

.ui-menu__button i {
  pointer-events: none;
}

.ui-menu__item select {
  height: 100%;
  color: white;
  background-color: #4f4f69;
}

.ui-menu__item select:hover {
  background-color: #7543fe;
  color: white;
}

.ui-menu__button:hover {
  background-color: #7543fe;
  color: white;
}